<section id="fees-section" class="fees-section container-fluid">
<div class="row">

 <div class="fees-col col col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">

    <table id="fees-table" class="fees-table">
    <!-- <thead>
      <th>Service</th>
      <th>Fee</th>
    </thead> -->

    <tr>
      <td style="width:40%;"><span class="ave-hv">Teletherapeutic Services</span></td>
      <td><span class="ave-hv">$125/hour </span> <span class="ave-reg">(sliding scale fees may be available based on proper income documentation)</span></td>
    </tr>

    <tr>
      <td><span class="ave-hv">Email Advice/Therapy</span></td>
      <td><span class="ave-reg">(one email from client, one email from Dr. Ken)</span></td>
    </tr>

    <tr>
      <td><span class="ave-reg">Short Message (up to 500 characters)</span></td>
      <td><span class="ave-hv">$25</span></td>
    </tr>

    <tr>
      <td><span class="ave-reg">Medium Message (501-1,000 characters)</span></td>
      <td><span class="ave-hv">$50</span></td>
    </tr>

    <tr>
      <td><span class="ave-reg">Long Message (1,001 characters or more)</span></td>
      <td><span class="ave-hv">$75</span></td>
    </tr>

    <tr>
      <td><span class="ave-hv">Interview Coaching</span></td>
      <td><span class="ave-hv">$300</span></td>
    </tr>

    <tr>
      <td><span class="ave-hv">Motivational Speaking</span></td>
      <td><span class="ave-hv">$250 – $5,000*</span></td>
    </tr>

    <tr>
      <td><span class="ave-hv">Panelist</span></td>
      <td><span class="ave-hv">$100 – $1,000*</span></td>
    </tr>
  </table>

  

 </div>


 <div class="fee-details-col col col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">

  
<div class="">

  <div class="fees-title">Fee Schedule Details</div>

  *Fee (to be negotiated prior to arrival) is dependent upon venue, expected number of attendees, topic, and total number of panelists (if applicable).<br><br>

  I do not accept insurance for Teletherapeutic services at this time. All agreed upon fees will be remitted prior to services, aside from the motivational speaker and panelist fee. The motivational/panelist fee will be determined prior to arrival and remitted upon arrival to the engagement.<br><br>

  Consulting service fees and determined based on the location, duration, and scope of services. Price and contract will be agreed upon prior to  arrival.


  </div>

</div>



</div>
</section>