<section id="hero-section" class="container-fluid relative height-100">

<svg class="hero-overlay" width="100%" height="100%" class="absolute">
        <rect width="100%" height="100%" style="fill:rgba(0,0,0,.3);stroke-width:0;stroke:rgb(0,0,0)" />
      </svg>

<div id="app-header-section"><app-header></app-header></div>

<div id="hero-content" class="hero-content relative">
    
   <div class="hero-title ave-blk">
A Fresh, New Face In Mental Health &amp; Consultation
   </div>

   <!-- <div class="hero-subtitle ave-lt">
       blanditiis praesentium voluptatum deleniti atque corrupti q 
   </div> -->
    
    <div class="hero-cta-button">
        <a href="" class="hero-cta-button-link ave-lt" onclick="Calendly.showPopupWidget('https://calendly.com/drkentrateconsultants/60min');return false;">Ready To Get Started?</a>
    </div>

</div>
</section>