#header-section{padding-left: 0px; padding-right: 0px;}
#app-cta{background: url(../assets/img/cta/hero-bg.png) no-repeat center center; background-color: #550e6c; background-size: 100% auto}
#app-footer, #footer-section{background-color:#550e6c;}

#footer-section{padding-top: 15px;}
#footer-nav li{display: inline; padding-right: 25px;}
#footer-nav li a{color: #FFF;}
.copyright{color: #FFF;}