
  <section id="app-hero" class="app-hero container-fluid">
    <div class="row">
      <app-hero></app-hero>
    </div>
  </section>
      


  
  <section id="app-solutions" class="app-solutions container-fluid">
    <div class="row">
      <app-solutions></app-solutions>
    </div>
  </section>

  
  <!-- <section id="app-cta" class="app-cta container-fluid">
    <div class="row">
      <app-cta></app-cta>
    </div>
  </section> -->


  <section id="app-fees" class="app-fees container-fluid">
    <div class="row">
      <app-fees></app-fees>
    </div>
  </section>
      


  
  <section id="app-about" class="app-about container-fluid">
    <div class="row">
      <app-about></app-about>
    </div>
  </section>
      


<section id="footer-section" class="footer-section container-fluid">

<div class="row">

  <div class="col col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
    <ul id="footer-nav" class="footer-nav">
      <li class="footer-nav-link"><a href="#">Teletherapy</a></li>
      <li class="footer-nav-link"><a href="#">Interview Coaching</a></li>
      <li class="footer-nav-link"><a href="#">Speaking</a></li>
      <li class="footer-nav-link"><a href="#">Consulting</a></li>
      <li class="footer-nav-link"><a href="#">Fees</a></li>
      <li class="footer-nav-link"><a href="#">Schedule Appointment</a></li>
    </ul>
  </div>

<div class="col col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
<span class="copyright">&copy; Copyright 2018 designed by <a href="https://thebeardedtek.com" target="_blank">thebeardedtek™</a>  All rights reserved.</span>
</div>

</div>
</section>




<!-- 
  <section id="app-footer" class="app-footer container-fluid">
    <div class="row">
      <app-footer></app-footer>
    </div>
  </section>
     -->